body{
    margin: 0;
    font-size: 18px;
}

.menu ul{
    list-style-type: none;
    padding: 5px;
}

.menu ul li{
    display: inline;
    position: relative;
    padding: 5px;
}

.menu ul ul{
    display: none;
    position: absolute;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul{
    background-color: aqua;
    margin: 0;
}

.menu ul li a{
    text-decoration: none;
    
}

.menu ul{
    left: 0;
    text-align: center;
}

.menu a:focus{
    background-color: cadetblue;
    padding: 5px;
}